<p id="notice"><%= notice %></p>

<h1>Items</h1>
<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag :itemSearch, params[:itemSearch] %>
  <%= submit_tag 'Search' %>
<% end %>
<table class="striped">
  <thead>
    <tr>
      <th>Location</th>
      <th><%= sort_link "ItemName", 'Item', params[:itemSearch] %></th>
      <th><%= sort_link "Keywords", nil, params[:itemSearch] %></th>
      <th><%= sort_link "ActionDate", "Action_Date", params[:itemSearch] %></th>
      <th>Note</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <% if item.location!=nil %>
              <%= item.location.LocName %>
          <% else %>
              <%= item.LocId %>
          <% end %>
          <%= item.NumItemId %>
        </td>
        <td><%= link_to item.ItemName, item_path(item) %></td>
        <td><%= item.Keywords %></td>
        <td>
          <% if item.ActionDate %>
            <%= item.ActionDate.strftime('%Y-%m-%d') %>
          <% end %>
        </td>
        <td><%= item.ItemNote %></td>
        <td>
          <% if item.status %>
            <%= item.status.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
