<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Capacity</th>
      <th>Items</th>
      <th>Review Frequency</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.LocName, location_path(location) %></td>
        <td><%= location.LocNote %></td>
        <td><%= location.MaxCapacity %></td>
        <td><%= location.items.where("Status > 0").count %></td>
        <td><%= location.ReviewFreqString %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
